:root{
    --color-text: #9e8d8c;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
}

.app{
    
}
.app__container{
    overflow-x: hidden;

}

.container__header{

}


@keyframes rotate{
    0%{
        transform: translateX(0) ;
        color: red;
    }
    25%{
        transform:  translateX(100%);
        color: yellow;

    }
    50%{
        transform:  translateX(0);
        color: green;

       
    }
    100%{
        transform:  translateX(100%) ;
        color: blanchedalmond;

    }
}