/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
                    /*//////////////////////////////////////////////////////[mobile + tablet___]//////////////////////////////////////////////////////*
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/


@media only screen and (min-width: 46.25em) and (max-width:63.9375em){
        
    /* START container__header-nav -----------------------------------------------------------------------------------------------------------------------------------------> */

    /* end container__header-nav -----------------------------------------------------------------------------------------------------------------------------------------> */

    /* start selling -----------------------------------------------------------------------------------------------------------------------------------------> */
    .container__selling-span{
        font-size: 1.6rem;
    }
    .container__selling-list{
        flex-wrap: wrap;

    }
    .container__selling-item{
        width: calc(100%/2);
        margin:  20px 0;
    }
    /* end selling -----------------------------------------------------------------------------------------------------------------------------------------> */
    /*start introduce -----------------------------------------------------------------------------------------------------------------------------------------> */
    .container__introduce-boxtext{
        width: 70%;

    }
    .container__boxtext-text{
        font-size: 2.6rem;
        padding-top: 40px;
    }
    /*end introduce -----------------------------------------------------------------------------------------------------------------------------------------> */


    /*start  ratting  -----------------------------------------------------------------------------------------------------------------------------------------> */
    .container__rating-title{
        font-size: 2rem;
    }
    .container__rating-point{
        font-size: 1.4rem;

    }
    .container__rating-box{
        height: unset;
        width: calc(100%/2);
    }
    .container__rating-customer{
        flex-wrap: wrap;

    }
    .container__rating-point{
        font-size: 1.3rem;

    }
    span.container__rating-point{
        font-size: 1rem;
    }
    /*end  ratting -----------------------------------------------------------------------------------------------------------------------------------------> */
    /*start order -----------------------------------------------------------------------------------------------------------------------------------------> */
    .container__order-box{
        width: 70%;
    }
    .container__order{
        margin-bottom: 20px;
    }
    /*end order -----------------------------------------------------------------------------------------------------------------------------------------> */



}




/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/
                    /*//////////////////////////////////////////////////////[mobile___]//////////////////////////////////////////////////////*
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////*/

@media only screen and (max-width: 46.25em){
    
/* START container__header-nav -----------------------------------------------------------------------------------------------------------------------------------------> */

.container__header-nav{
}
.container__header-list{
    font-size: 0.8rem;

}

.container__header-item{
    margin-right: 5px;


}

.container__header-heading{
    font-size: 3rem;
    top: 40%;

}




/* end container__header-nav -----------------------------------------------------------------------------------------------------------------------------------------> */

/* start selling -----------------------------------------------------------------------------------------------------------------------------------------> */
.container__selling-product{
    font-size: 1.6rem;
    margin-top: 20px;
}
.container__selling-list{
    display: block;
    
}
.container__selling-item{
    width: 100%;
    margin: 10px 0;
    height: 300px;
}

/* end selling -----------------------------------------------------------------------------------------------------------------------------------------> */
/*start introduce -----------------------------------------------------------------------------------------------------------------------------------------> */
.container__introduce{
    padding: 0;
    margin: 20px 0;
    height: 400px;
    width: 100%;
}   
.container__boxtext-text{
    font-size: 1.2rem;

}
.container__introduce-boxtext{

    width: 100%;
    display: inline-block;
    text-align: left;
    padding: 20px 20px 0 20px ;

}
.container__boxtext-content{
    font-size: 0.9rem;
}
/*end introduce -----------------------------------------------------------------------------------------------------------------------------------------> */



/*start image -----------------------------------------------------------------------------------------------------------------------------------------> */

.container__image{
    display: block;
    height: 400px;
}

.container__image-item{
    width: 150px;
    height: 150px;
}
.container__image-list:first-child .container__image-item:nth-child(2){
    top: 50px;
    left: 20px;

}
.container__image-list:first-child .container__image-item:nth-child(3){
    bottom:50px;
    right: 20px;

}

.container__image-list:last-child .container__image-item:nth-child(2){
   
    top: 50px;
    right: 20px;

}
.container__image-list:last-child .container__image-item:nth-child(3){
    
    bottom: 50px;
    left: 20px;

}
/*end image -----------------------------------------------------------------------------------------------------------------------------------------> */



/*start  ratting  -----------------------------------------------------------------------------------------------------------------------------------------> */


.container__rating{
    padding-top: 500px;
}
.container__rating-title{
    font-size: 1.6rem;
}
.container__rating-customer{
    display: block;
}
.container__rating-box{
    width: 100%;
    height: unset;
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-wrap: wrap;
}
.container__rating-point{
    font-size: 0.9rem;
    color: var(--color-text);
}
.container__rating-image{
    border: unset;
    width: 150px;
    
}
.container__rating-box-img{
    display: flex;
    align-items: center;
    justify-content: left;
}
.container__rating-star{
}

/*end  ratting -----------------------------------------------------------------------------------------------------------------------------------------> */
/*start order -----------------------------------------------------------------------------------------------------------------------------------------> */
.container__order-container{
    width: 90%;
}
.container__order-box{
    width: 100%;
    height: 400px;
    margin: 20px 0;
}

.container__order-heading{
    font-size: 1.5rem;
}
.container__order-content{
    font-size: 1.1rem;
}

/*end order -----------------------------------------------------------------------------------------------------------------------------------------> */
.container__footer-title{

    
    font-size: 1.2rem;
}
   
}


